body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    background:#e8f0fe;
}

.container{
    width:500px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

h1{
    text-align:center;
    color:blue;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    width:100%;
    padding:10px;
    margin-top:20px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:darkgreen;
}

#result{
    margin-top:20px;
    text-align:center;
    color:red;
    font-weight:bold;
}

ul{
    margin-top:10px;
}
